<h3>Part 3</h3>
<app-user></app-user>

<hr>

<h3>Part 5</h3>
<app-part5></app-part5>

<hr>

<h3>LOGIN SERVICE</h3>
<p>Using a HTTP call to a service created with Angular itself</p>
<app-login></app-login>

<hr>
<app-form></app-form>

<hr>
<h3>Create a directive</h3>
<span myDirective color="green" underline="true"> {{ title }} </span>

<hr>
<h3>Paginator</h3>
<mat-paginator [length]="inputData.length" 
    [pageSize]="page_size" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="handlePage($event)">
</mat-paginator>

<ul>
    <li *ngFor="let user of inputData | paginate:page_size:page_number">
        <ul>
            <li *ngFor="let prop of user | keyvalue">
                {{ prop.key }}: {{ prop.value }}
            </li>
        </ul>
    </li>
    <br>
    <br>
</ul>
{{data | json}}

<hr>
<app-films></app-films>